body {
    margin: 0;
    padding: 0;
    height: 1000px;
    font-family: "微软雅黑";
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}


/*头部开始*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    background-color: #2189bf;
    z-index: 99;
}

header h1 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 10px;
    left: 50px;
    width: 36px;
    height: 36px;
    text-indent: -999em;
    background: url(./images/logo.png) no-repeat center center;
}

#search {
    position: absolute;
    right: 156px;
    bottom: 14px;
    width: 312px;
    height: 28px;
}

#search input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 25px;
    padding-left: 40px;
    background: url(./images/search.png) no-repeat 18px center #fff;
}

#search input:focus {
    outline: none;
}

header a {
    position: absolute;
    right: 93px;
    bottom: 20px;
    height: 16px;
    padding-left: 20px;
    color: #fff;
    line-height: 16px;
    font-size: 12px;
    text-decoration: none;
    background: url(./images/login.png) no-repeat left center;
}


/*边栏开始*/

aside {
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 0;
    width: 260px;
    background-color: #2a2e3d;
}

aside .user-info {
    position: relative;
    height: 150px;
    font-size: 12px;
}

aside .user-info .avatar {
    position: absolute;
    display: block;
    top: 18px;
    left: 45px;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 2px solid #b9babd;
}

aside .user-info .avatar>i {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    margin: -22px 0 0 -22px;
    width: 44px;
    height: 44px;
    background-color: #b9babd;
    border-radius: 50%;
}

aside .user-info h3 {
    position: absolute;
    left: 120px;
    top: 40px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #fff;
}

aside .user-info .collect {
    position: absolute;
    left: 62px;
    bottom: 23px;
    margin: 0;
    color: #576477;
}

aside .user-info .fans {
    position: absolute;
    left: 150px;
    bottom: 23px;
    margin: 0;
    color: #576477;
}

aside .user-info .line {
    position: absolute;
    left: 117px;
    bottom: 21px;
    width: 2px;
    height: 28px;
    background-color: #313545;
}

aside .file-tree>ul {
    color: #6e8095;
    font-size: 12px;
}

aside .file-tree .report {
    background: url(images/file-icon-1.png) no-repeat 45px 14px;
}

aside .file-tree .personal-collection,
aside .file-tree .gallery,
aside .file-tree .growth {
    background: url(./images/star.png) no-repeat 45px 14px;
}

aside .file-tree .share {
    background: url(./images/share.png) no-repeat 45px 14px;
}

aside .file-tree .account {
    background: url(./images/account.png) no-repeat 45px 14px;
}

aside .file-tree>ul a {
    text-decoration: none;
    color: #6e8095;
}

aside .file-tree>ul>li {
    padding: 15px 0 15px 68px;
}

aside .file-tree>ul>li.cur {
    background-color: #383d4e;
    height: 162px;
}

aside .file-tree>ul>li.cur>ul {
    height: 150px;
}

aside .file-tree>ul>li:hover {
    background-color: #383d4e;
}

aside .file-tree>ul>li.cur>ul>li {
    padding-left: 30px;
    padding-top: 18px;
    background: url(./images/file-icon-2.png) no-repeat left 18px;
}

aside .file-tree>ul>li.cur>ul>li.cur {
    color: #fff;
    background: url(./images/file-icon-2-cur.png) no-repeat left 18px;
}

aside .file-tree>ul>li.cur>ul>li.cur li {
    padding-left: 15px;
    padding-top: 18px;
    background: url(./images/file-icon-4.png) no-repeat left 18px;
}

aside .file-tree>ul>li.cur>ul>li.cur li.cur {
    background: url(./images/file-icon-3-cur.png) no-repeat left 18px;
}

aside .file-tree>ul>li.cur,
aside .file-tree>ul .cur>a {
    color: #fff;
}

aside .file-tree>ul>li.cur li {
    color: #6e8095;
}

aside .file-tree>ul>li.cur li.cur {
    color: #fff;
}


/*主体部分*/

.content {
    margin: 86px 0 0 260px;
    padding-bottom: 155px;
    background-color: #eeeeed;
}

.content .crumb-nav {
    position: fixed;
    top: 56px;
    left: 260px;
    height: 30px;
    width: 100%;
    padding-left: 30px;
    box-shadow: 2px 1px 3px #ccc;
    line-height: 30px;
    font-size: 14px;
    background-color: #fff;
    z-index: 99;
}

.content .crumb-nav li {
    position: relative;
    float: left;
    min-width: 35px;
    margin-right: 5px;
    padding-right: 8px;
}

.content .crumb-nav li::after {
    content: "/";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: #aaa;
}

.content .crumb-nav li:last-child::after {
    content: "";
    display: none;
}

.content .crumb-nav li a {
    color: #aaa;
    text-decoration: none;
}

.content .crumb-nav li.cur a {
    color: #5e93c1;
}

.content .content-info {
    width: 890px;
    margin: 0 auto;
}

#contentInfoSearch {
    position: relative;
    display: block;
    box-sizing: border-box;
    min-width: 890px;
    top: 20px;
    height: 85px;
    padding-left: 30px;
    margin-bottom: 30px;
    font-size: 12px;
    box-shadow: 2px 1px 3px #ccc;
    border: 1px solid #dddfe1;
    background-color: #fff;
}

#contentInfoSearch li {
    position: relative;
    float: left;
    padding-top: 15px;
    margin-right: 35px;
}

#contentInfoSearch li>div {
    margin-bottom: 5px;
}

#contentInfoSearch .select-wrap.small {
    width: 56px;
    padding-left: 12px;
    background: url(./images/arrow-down-black.png) no-repeat 52px center;
}

#contentInfoSearch .select-wrap.small.arrow-down-blue {
    background-image: url(./images/arrow-down-blue.png);
}

#contentInfoSearch li.buyer-seller {
    padding-right: 15px;
    background: url(images/change.png) no-repeat 165px 25px;
}

#contentInfoSearch .select-wrap.big {
    width: 105px;
    padding-left: 12px;
    background: url(./images/arrow-down-black.png) no-repeat 101px center;
}

#contentInfoSearch .select-wrap input {
    width: 105px;
    padding-left: 12px;
    line-height: 22px;
    background: url(./images/arrow-down-black.png) no-repeat 101px center;
}

#contentInfoSearch .select-wrap input:focus {
    outline: none;
}

#contentInfoSearch .arrow-down-blue {
    background: url(./images/arrow-down-blue.png) no-repeat right center;
}

#contentInfoSearch li>div div {
    display: inline-block;
    height: 22px;
    border: 2px solid #c2c3c3;
}

#contentInfoSearch li>div div.select-wrap {
    margin-right: 15px;
}

#contentInfoSearch li label {
    margin-right: 15px;
}

#contentInfoSearch li select {
    line-height: 22px;
    width: 100%;
    border: none;
    background: none;
    -webkit-appearance: none;
}

#contentInfoSearch li select:focus {
    outline: none;
}

#contentInfoSearch li input {
    border: none;
}

#contentInfoSearch button {
    position: absolute;
    left: 330px;
    top: 30px;
    padding: 0;
    width: 50px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    border-radius: 5px;
    border: none;
    background-color: #388ac1;
    cursor: pointer;
}

#contentInfoSearch button:focus {
    outline: none;
}

.content .hours {
    min-width: 890px;
    margin-bottom: 20px;
}

.content .hours .left {
    float: left;
    width: 30px;
    background: url(./images/arrow-big-left.png) no-repeat center center;
}

.content .hours .right {
    float: right;
    margin-right: 5px;
    width: 30px;
    background: url(./images/arrow-big-right.png) no-repeat center center;
}

.content .hours .history-info {
    float: right;
    width: 130px;
    padding-left: 60px;
    box-sizing: border-box;
    font-size: 14px;
    color: #535353;
    line-height: 65px;
    background: url(./images/date.png) no-repeat 18px center;
}

.content .hours .hours-list-wrap {
    position: relative;
    height: 65px;
    margin: 0 170px 0 35px;
    overflow: hidden;
}

.content .hours ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 9999px;
    padding: 0 -2.5px;
}

.content .hours .left,
.content .hours .right,
.content .hours .history-info {
    height: 65px;
    box-shadow: 2px 1px 3px #ccc;
    background-color: #fff;
    cursor: pointer;
}

.content .hours ul>li {
    float: left;
    box-sizing: border-box;
    width: 114px;
    padding: 0 2px;
    height: 65px;
}

.content .hours ul>li>p {
    position: relative;
    margin: 0;
    box-sizing: border-box;
    padding: 15px 0 0 28px;
    height: 100%;
    border-top: 4px solid transparent;
    font-size: 12px;
    color: #323333;
    background-color: #fff;
    box-shadow: 2px 1px 3px #ccc;
}

.content .hours ul>li>p strong {
    position: absolute;
    left: 28px;
    bottom: 6px;
    font-size: 20px;
    color: #ec6500;
}

.content .hours ul>li>p strong span {
    font-size: 14px;
    color: #adadad;
}

.content .hours ul>li.cur p {
    border-top: 4px solid #4389c9;
}

.content .hours ul>li>p:hover {
    border-top: 4px solid #4389c9;
}

.content .turnover {
    min-width: 890px;
    margin-bottom: 13px;
}

.content .turnover h4 {
    margin: 0 0 7px 0;
    font-size: 14px;
    color: #323333;
}

.content .turnover ul {
    padding: 0;
    margin: 0 -14px;
}

.content .turnover ul li {
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding: 0 14px;
}

.content .turnover ul li div div {
    position: relative;
    box-sizing: border-box;
    height: 72px;
    padding: 20px 0 0 8px;
    color: #323333;
    font-size: 14px;
    border: 1px solid #d8d9db;
    border-left: none;
    background-color: #fff;
}

.content .turnover ul li div div span {
    position: absolute;
    left: 8px;
    bottom: 17px;
    color: #b0b0b0;
    font-size: 12px;
}

.content .turnover ul li .green {
    border-left: 5px solid #43b29d;
    box-shadow: 2px 1px 3px #ccc;
}

.content .turnover ul li .blue {
    border-left: 5px solid #388bc2;
    box-shadow: 2px 1px 3px #ccc;
}

.content .turnover ul li .red {
    border-left: 5px solid #cf4a36;
    box-shadow: 2px 1px 3px #ccc;
}

.content .turnover ul li .yellow {
    border-left: 5px solid #e2cd46;
    box-shadow: 2px 1px 3px #ccc;
}

.content .turnover ul li>div {
    position: relative;
}

.content .turnover ul li>div::after {
    content: "";
    position: absolute;
    right: 16px;
    top: 12px;
    width: 61px;
    height: 46px;
    background-color: #000;
}

.content .turnover ul li>div.green::after {
    background-color: #43b29d;
}

.content .turnover ul li>div.blue::after {
    background-color: #388ac1;
}

.content .turnover ul li>div.red::after {
    background-color: #d04b36;
}

.content .turnover ul li>div.yellow::after {
    background-color: #e2cd46;
}

.content .panels {
    min-width: 890px;
}

.content .panels .panel-group {
    margin-bottom: 8px;
    margin-left: -4px;
    margin-right: -4px;
}

.content .panels .panel-item {
    box-sizing: border-box;
    padding: 0 4px;
    float: left;
}

.content .panels .panel-item>div {
    border: 1px solid #d2d3d6;
    border-radius: 5px;
    box-shadow: 2px 1px 3px #ccc;
    background-color: #fff;
}

.content .panels .panel-item.big {
    width: 60%;
    min-width: 500px;
}

.content .panels .panel-item.small {
    width: 40%;
    min-width: 333px;
}

.content .panels .panel-item>div h4 {
    margin: 0;
    height: 39px;
    padding-left: 20px;
    line-height: 40px;
    color: #afb0b0;
    font-size: 14px;
    font-weight: normal;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #e7e9eb;
    background-color: #f4f5f7;
}

.content .panels .panel-item .panel-item-wrap {
    padding: 12px 20px 35px;
}

.content .panels .panel-item ul {
    position: relative;
    padding: 0;
    z-index: 1;
}

.content .panels .panel-item li {
    float: left;
    margin-right: 5px;
    height: 25px;
    padding: 0 21px;
    line-height: 25px;
    font-size: 14px;
    color: #535353;
    border-radius: 3px 3px 0 0;
    background-color: #ededf0;
}

.content .panels .panel-item li.cur {
    border: 1px solid #cbcccc;
    border-bottom: none;
    background: #fff;
}

.content .panels .panel-item .panel-item-table>div {
    position: relative;
    top: -1px;
    padding: 27px 35px 35px;
    border: 1px solid #cbcccc;
    border-radius: 0 3px 3px 3px;
}

.content .panels .panel-item table {
    border-collapse: collapse;
    border: 1px solid #d2d3d3;
}

.content .panels .panel-item table td {
    position: relative;
    color: #595a5b;
    padding: 0 15px;
    line-height: 26px;
    font-size: 12px;
    border: 1px solid #d2d3d3;
}

.content .panels .panel-item table td.cur {
    background-color: #f4f5f6;
}

.content .panels .panel-item table td:hover {
    background-color: #f4f5f6;
}

.content .panels .panel-item .car td,
.content .panels .panel-item .car th {
    padding: 0 30px;
    height: 25px;
    font-size: 12px;
    border: 1px solid #c6c6c7;
}

.content .panels .panel-item .car th {
    line-height: 30px;
}

.content .panels .panel-item .car td:first-child {
    text-align: center;
}

.content .panels .panel-item .car td:last-child {
    min-width: 255px;
}

.content .panels .panel-item .car td>div {
    position: absolute;
    width: 180px;
    height: 6px;
    top: 50%;
    left: 100px;
    margin-top: -3px;
    background-color: #dcdcdc;
}

.content .panels .panel-item .car td>div>div {
    height: 100%;
    background-color: #7fcbf0;
}

.content .panels .panel-item .car td>div.first>div {
    background-color: #ed6e52;
}

.content .panels .panel-item .car td>div.second>div {
    background-color: #ef8050;
}

.content .panels .panel-item .car td>div.third>div {
    background-color: #f19e4f;
}

.content .panels .panel-item .car tr:hover {
    background-color: #f4f5f6;
}

.content .panels .panel-item .car tr.cur {
    background-color: #f4f5f6;
}

.content .panels .report p {
    margin: 0;
    color: #615f5f;
    padding-left: 15px;
    font-size: 12px;
    line-height: 20px;
}

.content .panels .report p span {
    color: #cccbcb;
}

.content .panels .report div p {
    width: 80px;
    float: left;
    border: 1px solid #e7e7e7;
}

.content .panels .report div p:first-child {
    border-right: none;
    border-left: none;
}

.content .panels .report div p:last-child {
    border-right: none;
    width: 185px;
}

.content .panels .report p.secret-deal {
    height: 108px;
    width: 100%;
    color: #535353;
    border-bottom: 1px solid #e7e7e7;
}

.content .panels .report form {
    position: relative;
    height: 35px;
}

.content .panels .report label {
    color: #e7e7e7;
    font-size: 12px;
    line-height: 35px;
}

.content .panels .report button {
    position: absolute;
    right: 0;
    top: 5px;
    width: 52px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    padding: 0;
    border: none;
    background-color: #388ac1;
    border-radius: 2px;
}

.content .panels .date {
    font-size: 12px;
    color: #636363;
}

.content .panels .date .date-select-item {
    position: relative;
    float: left;
    margin-right: 6px;
    height: 20px;
    line-height: 20px;
    background-color: #fff;
    border: 1px solid #cbcbcb;
}

.content .panels .date .date-select-item select {
    color: #636363;
    border: none;
    padding: none;
    background-color: #fff;
    background: url(./images/date-arrow.png) no-repeat right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.content .panels .date .date-select-item select:focus {
    outline: none;
}

#year {
    width: 62px;
    padding-left: 5px;
}

#month {
    width: 83px;
    padding-left: 25px;
}

.content .panels .date .date-label {
    width: 68px;
    padding-left: 5px;
    background: url(./images/date-arrow.png) no-repeat right center;
}

.content .panels .date .today {
    width: 57px;
    padding-left: 5px;
    margin-right: 0;
}

.content .panels .date ol {
    margin: 10px 0 2px;
    padding: 0;
    height: 29px;
    list-style: none;
    border-top: 2px solid #a9cfec;
    border-bottom: 2px solid #e1e1e1;
}

.content .panels .date ol li {
    float: left;
    padding: 0;
    margin: 0;
    width: 44px;
    text-align: center;
    font-size: 12px;
    line-height: 29px;
    color: #636363;
    font-weight: bold;
    background-color: #fff;
}

.content .panels .date ul {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 0;
}

.content .panels .date ul li {
    box-sizing: border-box;
    float: left;
    padding: 0;
    margin: 0;
    margin-bottom: 3px;
    width: 44px;
    height: 44px;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
    color: #494949;
    padding-top: 5px;
    border: 2px solid transparent;
    border-radius: 0;
    background: #fff;
}

.content .panels .date ul li b {
    color: #cd3539;
}

.content .panels .date ul li.cur {
    border: 2px solid #f8d564;
}


/*
.content .panels .date ul li:hover {
    border: 2px solid #f8d564;
}*/